#header{
height: 5vh;
position: fixed;
left: 0;
top: 0;
right: 0;
z-index: 997;
}
.project{
margin-top: 20vh;
}
.subnav{
margin-top: 10vh;
}
.projecthome{
margin-top: 1vh;
}
.projecthome_image img{
width: 100%;
}
.projecthome_image_intro {
width: 100%;
height: 600%;
overflow: hidden;

}
.projecthome_image_intro img{
width: 100%;


}
.projectvidwo{
height: -70vh;
overflow-y: hidden;
}
.projecthome_text{
margin-top: 300px;
}
.project-container{
width: 70%;
}
.projectintro{
position: relative;
width: 100%;
height: 85vh;
}
.projectintro_container{
height: 100%;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
}
.projectdetail_container{
margin-bottom: 10vh;
}
.projectdetail_i img{
width: 100%;
}
.projectdetail_i_ar img{
width: 100%;

}
.projectdetail_i_80h img{
width: 100%;
}
.projectdetail_content{
margin-top: 100px;
}
.projectdetail_t{
margin-bottom: 50px;
}
#name{
justify-content: center;
text-align: center;
}
.introbg{
background-color: white;
position: relative;
width: 100%;
height: 95vh;
}
#homepageintro_content h5{
color:black;
}
#homepageintro_content p{
color:black;
}
#homepageintro_indicator li{
background-color: black;
}
.introtext{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.introtext img{
width: 60%;
}
#readmore{
height: 5vh;
justify-content: center;
text-align: center;
align-items: center;
}