body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

	color:#FFFFFF;
}   
nav { 
	font-weight: bold; font-size: 1em;
}

nav a { 
	text-decoration: none;color:#FFFFFF

}

h2 { 
	color: #FFFFFF;
}

